<template>
    <li class="list-group-item shadow border-0">
        <article>
            <div class="catalog-component">
                <a class="row">
                    <div class="col-sm-3 text-left"> 
                        <img src="https://d20vrrgs8k4bvw.cloudfront.net/images/degrees/nd027/nd-card.jpg" 
                        width="150" height="140" alt="thumbnail" class="rounded shadow">
                    </div>
                    <div class="col-md-9 text-left">
                        <div style="height: 72px">
                            <span class="tag">New</span>
                            <h3>Schoold of Data Engineer</h3>
                            <h2>Data Engineer</h2>
                        </div>
                        <div>
                            <section>
                                <h4>Skill Cover</h4>
                                <p class="text-dark">Listening, Reading</p>
                            </section>
                            <section>
                                <h4>Teacher</h4>
                                <p class="text-dark">Victor</p>
                            </section>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <div class="accordion">
                    <div class="card border-0">
                        <div class="card-header bg-transparent">
                            <button class="float-left btn border-0" style="color: rgb(1, 122, 155);" data-toggle="collapse" data-target="#collapseOne" @click="ToggleCollapse">
                                <i class="fa fa-plus" ref="symbol"></i>
                                Program Detail
                            </button>
                            <div class="float-right">
                                <img src="https://www.udacity.com/_next/intermediate.svg">
                                <small class="pl-2">Intermediate</small>
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </li>
</template>
<script>
export default {
    name: 'catalogComponent'
}
</script>
<style scoped>
h1,h2,h3,h4 {
    font-family: "Open sans", sans-serif;
}

h1 {
    color: #017a9b;
    font-weight: 300;
}

h2{
    font-size: 18px;
    color: rgb(1, 122, 155);
    font-weight: 600;
}

h3{
    font-size: 14px;
    font-weight: 700;
}

h4 {
    color: rgb(101, 116, 130);
    font-size: 14px;
    font-weight: 400;
}

.catalog-component {
    padding-top: 1rem;
}

.tag {
    font-size: .8125rem;
    line-height: 24px;
    display: block;
    clear: left;
    float: right;
    text-transform: uppercase;
    color: #3b165c;
    letter-spacing: .125rem;
    font-weight: 700;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    padding: 6px .75rem;
    border-radius: .25rem;
}

a{
    color: rgb(82, 92, 101);
    text-decoration: none;
    background-color: transparent;
}
</style>