<template>
    <div class="row"> 
        <div class="col-md-6">
            <div class="card-header text-left">
                <h4>
                    <i class="fas fa-book"></i>
                    Course
                </h4>
                <h5>{{courseName}}</h5>
            </div>
            <div class="card-body">
                <p>{{description}}</p>
            </div>
        </div>
        <div class="col-md-6 container-fluid card-action" style="">
            <button class="btn mx-auto continue-btn" @click="joinCourse">
                <span>
                    Continue
                    <i class="fas fa-arrow-right"></i>
                </span>
            </button>
        </div>
    </div>
</template>

<script>
import User from '../services/userService'

export default {
    name: 'courseCard',
    userService: null,
    created() {
        this.userService = new User()
    },
    data() {
        return {
            courseName: this.CourseName,
            description: this.Description,
            id: this.ID,
        }
    },
    props: {
        CourseName: {
            type: String
        },
        Description: {
            type: String
        },
        ID: {
            type: String
        }
    },
    methods: {
        joinCourse: function() {
            this.userService.joinCourse(this.id)
        }
    }
}
</script>

<style scoped>
.card-header {
    background: white;
}

.card-action {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.continue-btn {
    background: rgb(1, 122, 155);
    color:white;
}
</style>