<template>
    <div class="row"> 
        <div class="col-md-6">
            <div class="card-header">
                <div class="row">
                    <div class="col-6 text-left">
                        <h4>
                            <i class="fas fa-book"></i>
                            Course
                        </h4>
                        <h5>{{courseName}}</h5>
                    </div>
                    <div class="col-6 text-right">
                        <h5>{{lessonName}}</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>{{description}}</p>
            </div>
        </div>
        <div class="col-md-6 container-fluid card-action" style="">
            <button class="btn mx-auto continue-btn" @click="goToLesson">
                <span>
                    Continue
                    <i class="fas fa-arrow-right"></i>
                </span>
            </button>
        </div>
    </div>
</template>

<script>
import User from '../services/userService'

export default {
    name: 'courseCardToLession',
    userService: null,
    created() {
        this.userService = new User()
    },
    data() {
        return {
            lessonName: this.LessonName,
            courseName: this.CourseName,
            description: this.Description,
            id: this.ID,
        }
    },
    props: {
        CourseName: {
            type: String
        },
        Description: {
            type: String
        },
        ID: {
            type: String
        },
        LessonName: {
            type: String
        },
        LinkVideo: {
            type: String
        }
    },
    methods: {
        goToLesson: function() {
            this.$router.push({name: 'Session', params: {SessionName: this.LessonName, LinkVideo: this.LinkVideo}})
        }
    }
}
</script>

<style scoped>
.card-header {
    background: white;
}

.card-action {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.continue-btn {
    background: rgb(1, 122, 155);
    color:white;
}
</style>