<template>
<li class="shadow card lesson-item" @click="onClick">
        <div class="row ml-0">
            <div class="col-sm-8 bg-light text-left">
                <div class="pl-5 py-5">
                    <h3>Lesson 1</h3>
                    <h2 class="pt-2">Lesson 1</h2>
                </div>
                <div class="pl-5 mb-2">
                    <div class="mb-4">
                        <button class="btn border border-info rounded shadow-lg" style="width: 136px; height: 32px;" @click="onClick">
                            <span class="btn-continue">
                                Continue
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="progress mt-2" style="width:80px; height: 4px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="pl-2">40%</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
</li>
</template>
<script>
export default {
    name:'LessonCard',
    methods: {
        onClick: function() {
            console.log('Hello')
        }
    }
}
</script>
<style scoped>
h3,h2, p {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
    line-height: 24px;
}

h3 {
    font-size: 13px;
    color: rgb(46, 61, 73);
    letter-spacing: 1.5px;
}

p{
    color: rgb(46, 61, 73);
    font-size:12px;
    letter-spacing: 1.5px;
}

h2 {
    font-size: 18px;
    color: rgb(109, 119, 128);
    
}

.lesson-item {
    width:960px;
    background: rgba(164,228,245,.4);
}

.btn-continue {
    color: rgb(1, 122, 155);
    font-weight: 600;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1.5px;
}
</style>