<template>
<div class="position-fixed left-side-bar">
        <div>
            <router-link to="/" class="navbar-brand">
                    <img alt="Vue logo" src="../assets/logo.png" width="60" height="60">
                    {{Name}}
            </router-link>
        </div>
        <div class="d-flex justify-content-between list-group" id="container">
            <div>
                <ul class=list-group>
                    <li class="list-item" @click="Home">
                        <span class="p-3">
                            <i class="fas fa-home fa-2x"></i>
                        </span>
                        <span class="list-item-title">Home</span>
                    </li>
                    <li class="list-item" @click="Contact">
                        <span class="p-3">
                            <i class="far fa-life-ring fa-2x"></i>
                        </span>
                        <span class="list-item-title">Help</span>
                    </li>
                    
                    <li class="list-item" @click="SeeCatalog">
                        <span class="p-3">
                            <i class="far fa-compass fa-2x"></i>
                        </span>
                        <span class="list-item-title">Catalog</span>
                    </li>
                </ul>
            </div>
            <div class="fixed-bottom">
                <ul class=list-group>
                    <li class="list-item" @click="Setting">
                        <span class="p-3">
                            <i class="fas fa-cog fa-2x"></i>
                        </span>
                        <span class="list-item-title" >Settings</span>
                    </li>
                    <li class="list-item" @click="Logout">
                        <span class="p-3">
                            <i class="fas fa-sign-out-alt fa-2x"></i>
                        </span>
                        <span class="list-item-title" >Logout</span>
                    </li>
                </ul>
            </div> 
        </div>
</div>    
</template>
<script>
export default {
    name: 'SideBar',
    data: function() {
        return {
            Name : this.$companyName
        }
    },
    methods: {
        SeeCatalog: function() {
            this.$router.push({path: '/courses/all'})
        },
        Setting: function() {
            this.$router.push({path: '/user/setting'})
        },
        Logout: function() {
            let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
            vueInstance.$role = null
            vueInstance.$token = null
            vueInstance.$codeForResetPassword = null
            this.$router.push({path: '/'})
        },
        Home: function() {
            this.$router.push({path: '/courses'})
        },
        Contact: function() {
            this.$router.push({path: '/contact-us'})
        }
    }
}
</script>
<style scoped>
a{
    color: rgb(219, 226, 232);
}
.left-side-bar {
    width: 280px;
    height:1000vh;
    z-index: 1000;
    background:rgb(17, 22, 26);
    color: rgb(219, 226, 232);
}
.list-group {
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-align: left;
}

.list-item{
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background: transparent;        
}

.list-item-title {
    font-size:1.25rem; 
    color: #9aa3aa;  
}

</style>
