<template>
<div class="content-area">
    <div class="mx-auto pt-5">
        <div class="mb-4">
            <h5>Bạn đăng nhập dưới vai trò</h5>
            <SelectButton v-model="selectedRole" :options="roles" optionLabel="role" />
        </div>
        <div>
            <h5>Email</h5>
            <InputText id="email" type="text" v-model="email" />
            <h5>Password</h5>
            <Password id="password" v-model="password" :feedback="false"/>
        </div>
        <div>
            <small id="invalidInput" class="p-invalid" hidden></small>
        </div>
    </div>
    <Button label="Login" class="mt-5" @click="login"/>
</div>
</template>
<script>
import InputText from 'primevue/inputtext';
import SelectButton from 'primevue/selectbutton';
import Button from 'primevue/button';
import Password from 'primevue/password';
import AuthService from '../services/Authentication';
export default {
    name: 'AdminSpeakerLogin',
    data() {
        return {
            email: null,
            password: null,
            selectedRole: null,
            roles: [
                {role: 'Admin', code: 'admin'},
                {role: 'Speaker', code: 'speaker'},
            ]
        }
    },
    authService: null,
    components: {
        InputText,
        SelectButton,
        Button,
        Password
    },
    created() {
        this.authService = new AuthService()
    },
    methods: {
        login: async function() {
            if(this.email === null || this.password === null) {
                document.getElementById('invalidInput').hidden = false
                document.getElementById('invalidInput').innerHTML = 'You must type email and password'
                throw new Error('Empty Input')
            } else {
                document.getElementById('invalidInput').hidden = true
            }

            let temp = await this.sendLoginInformation()
            console.log(temp)
            if(temp.role !== this.selectedRole.code) {
                document.getElementById('invalidInput').hidden = false
                document.getElementById('invalidInput').innerHTML = "You don't have enough authority to access this"
                throw new Error('Wrong roles')
            } else {
                document.getElementById('invalidInput').hidden = true
            }

            if(temp.token === null) {
                document.getElementById('invalidInput').hidden = false
                document.getElementById('invalidInput').innerHTML = 'Email or password is not valid'
                return
            } else {
                let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
                vueInstance.$token = temp.token
                vueInstance.$role = this.selectedRole.code
                if(vueInstance.$role === 'admin') {
                    this.$router.push({path: '/admin'})
                } else if(vueInstance.$role === 'speaker'){
                    this.$router.push({path: '/speaker'})
                } else {
                    vueInstance.$token = null
                    vueInstance.$role = null
                    console.error('Undefined Role')
                }
            }
        },
        sendLoginInformation: async function() {
            let result = await this.authService.login(this.email, this.password).then(response => response)
            return result
        }
    }
}
</script>
<style scoped>
h5 {
    color: white;
}

.content-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3f4b5b;
}

.button {
    background-color: rgb(141, 208, 255);
    width: 150px;
}
</style>
