<template>
<div class="parent">
  <div>
    <div class="sidebar">
      <Sidebar v-model:visible="visibleLeft" class="p-sidebar-sm gradient-dark-theme" :dismissable="false" :modal="false" :showCloseIcon="false">
        <div>
            <router-link to="/admin" class="navbar-brand">
                    <img alt="Vue logo" src="../assets/logo.png" width="60" height="60">
                    {{Name}}
            </router-link>
        </div>
        <Menu :model="items" class="menu border-0"/>

      </Sidebar>
    </div>

    <div id="content-wrapper">
      <div class="layout-topbar row justify-content-between">
        <div class="col-4 text-left ml-3 my-1">
          <Button icon="pi pi-bars" @click="toggleSidebar" />
        </div>
        <div class="col-4 text-right mr-3 my-1">
          <Button icon="pi pi-external-link" @click="logout"/>
        </div>
      </div>
      <div class="px-2">
        <div class="table-header d-flex justify-content-between">
            <div class="pt-2">Products</div>
            <Button icon="pi pi-refresh" @click="refresh"/>
        </div>
        <DataTable :value="cars">
          <Column v-for="col of columns" :field="col.field" :header="col.header" :key="col.field"></Column>
        </DataTable>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import Sidebar from 'primevue/sidebar';
import Button from 'primevue/button';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Menu from 'primevue/menu';
import CarService from '../services/mock-server-car-example';

export default {
    name: 'AdminDashboard',
    data() {
      return {
        visibleLeft: false,
        Name: this.$companyName,
        car: null,
        columns: null,
        refresh: true,
        items: [
          {
            label: 'Home',
            icon: 'pi pi-home',
            to: '/admin'
          },
          {
            label: 'Quản lý Course',
            icon: 'pi pi-briefcase',
            to: '/admin/manage-course'
          },
          {
            label: 'Quản lý Speaker',
            icon: 'pi pi-comment',
            to: '/admin/manage-speaker'
          },
          {
            label: 'Quản lý User',
            icon: 'pi pi-user',
            to: '/admin/manage-user'
          }
        ]
      }
    },
    carService: null,
    components: {
      Sidebar,
      Button,
      DataTable,
      Column,
      Menu
    },
    created() {
      // NOTE: THIS MAYBE A UNEFFICIENT WAY TO HANDLE THIS
      let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
      if(vueInstance.$token === null || vueInstance.$role === null || vueInstance.$role !== 'admin') {
        console.error('Something wrong')
        this.$router.push({path: '/login'})
      }
      this.$token = vueInstance.$token
      this.$role = vueInstance.$role
      this.carService = new CarService()
      this.columns = [
        {field: 'vin', header: 'Vin'},
        {field: 'year', header: 'Year'},
        {field: 'brand', header: 'Brand'},
        {field: 'color', header: 'Color'}
      ]
      this.cars = this.carService.getData().data
    },
    methods: {
      toggleSidebar: function() {
        if(this.visibleLeft === true) {
          this.visibleLeft = false
          document.getElementById('content-wrapper').className = "not-toggled"
        } else {
          this.visibleLeft = true
          document.getElementById('content-wrapper').className = "toggled"
        }
      },
      logout: function() {
        let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
        vueInstance.$role = null
        vueInstance.$token = null
        this.$router.push({path: '/login'})
      }
    }
}
</script>
<style scoped>
.toggled {
  margin-left: 20rem;
  transition-delay: 0.1s;
}

.not-toggled {
  margin-left: 0rem;
  transition-delay: 0.1s;
}

a{
    color: white;
}

.layout-topbar {
  background-image: linear-gradient(90deg, rgb(3, 136, 229) 0px, rgb(7, 189, 244));
  text-align: left;
  padding-left: 20px;
}

.table-header {
  font-size: 16px;
  font-weight: 600;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-width: 1px 0 1px 0;
}

.menu {
  color: white;
  width: 100%;
  height: 100%;
}
</style>
