<template>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="Vue logo" src="../assets/logo.png" width="60" height="60">
            {{Name}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/courses">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/contact-us">Contact</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
</div>
<div class="container mx-auto">
    <div>
        <h1>Program Catalog</h1>
        <div class="p-1 bg-light rounded rounded-pill shadow-lg mb-4 w-75 mx-auto">
            <div class="input-group">
              <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
        </div>
    </div>
    <div class="mt-5 row">
        <aside class="col-md-4 text-left">
            <fieldset>
                <legend class="section-title">Filter By</legend>
                <div class="dropdown pb-3">
                    <button class="btn btn-outline-secondary btn-block text-left dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Program Detail
                    </button>
                    <div class="dropdown-menu scrolling" aria-labelledby="dropdownMenuButton">
                        <fieldset class="ml-2">
                            <legend class="section-title">Skill Set</legend>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Beginner
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Intermediate
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Advanced
                                </label>
                            </div>
                        </fieldset>
                        <fieldset class="ml-2 mt-3">
                            <legend class="section-title">Estimate Duration</legend>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">&lt;1 Month
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">1 - 3 Month
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">+3 Month
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-outline-secondary btn-block text-left dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Skill Set
                    </button>
                    <div class="dropdown-menu scrolling" aria-labelledby="dropdownMenuButton">
                        <fieldset class="ml-2">
                            <legend class="section-title">Skills</legend>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Speaking
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Writing
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Reading
                                </label>
                            </div>
                            <div class="form-check ml-2">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Listening
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </fieldset>
            <nav class="nav flex-column">
                <a class="nav-link active" href="#">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Disabled</a>
            </nav>
        </aside>
        <main class="col-md-8">
            <div>
                <ul class="list-group">
                    <li class="shadow card mt-5" style="width:960px; height: 200px;" v-for="(course, index) in courses" :key="index">
                        <courseCard :ID="course._id" :Description="course.description" :CourseName="course.name"></courseCard>
                    </li>
                </ul>
            </div>
        </main>
    </div>
</div>
</template>

<script>
//import catalogComponent from "../components/Catalog_Component.vue"
import courseCard from '../components/Course_Card.vue'
import User from '../services/userService'

export default {
    name: 'Catalog',
    components: {
        //catalogComponent,
        courseCard
    },
    userService: null,
    created() {
        this.userService = new User()
    },
    mounted() {
        this.userService.getAllCourse(5, 0).then(value => {
            this.courses = value
        })
    },
    data: function () {
        return {
            Name: this.$companyName,
            courses: [],
            course: null,
            test_description: "description",
            test_course_name: "Course Name"
        }
    },
    methods: {

    }
}
</script>
<style scoped>
h1 {
     font-family: "Open sans", sans-serif;
    color: #017a9b;
    font-weight: 300;
}

.section-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .5rem;
    color: #6d7780;
    letter-spacing: .05rem;
}

.scrolling {
    width: 100%;
    height:150px;
    overflow-y: scroll;
}

.nav-link.active {
    border-left:3px solid #017a9b;
}

</style>