<template>
  <div class="header">
    <div style="margin-left: 18rem">
      <h4 class="mt-3">Home</h4>
    </div>
  </div>
  <SideBar />
  <div class="container" style="margin-left: 25em">
    <nav class="index-navigation"></nav>
    <div class="mx-auto pt-5">
      <ul class="list-group">
        <template v-for="(course, index) in courses" :key="index">
          <li
            v-if="course.idCourse"
            class="shadow card mt-5"
            style="width: 960px; height: 200px"
          >
            <courseCardToLession
              v-if="course.idCourse"
              :ID="course.idCourse.ID"
              :Description="course.idCourse.description"
              :CourseName="course.idCourse.name"
              :LessonName="course.name"
              :LinkVideo="course.link"
            />
          </li>
        </template>
      </ul>
    </div>
  </div>
</template>

<script>
  import courseCardToLession from "../components/Course_Card_Access_To_Lession.vue";
  import SideBar from "../components/Side_bar.vue";
  import User from "../services/userService";

  export default {
    name: "Courses",
    components: {
      courseCardToLession,
      SideBar,
    },
    userService: null,
    created() {
      this.userService = new User();
    },
    mounted() {
      this.userService.getLesson(5, 0).then((value) => {
        this.courses = value;
      });
    },
    data: function () {
      return {
        Name: this.$companyName,
        courses: [],
        course: null,
      };
    },
    methods: {
      SeeCatalog() {
        this.$router.push({ name: "Catalog" });
      },
    },
  };
</script>

<style scoped>
  .header {
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s margin-left ease-in-out, 0.2s margin-right ease-in-out;
    z-index: 9;
    height: 60px;
    text-align: left;
  }

  a {
    color: rgb(219, 226, 232);
  }

  .index-navigation {
    height: 96px;
  }
</style>
