<template>
<div>
  <div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="forgot">
          <h2>Forgot your password?</h2>
          <p>Change your password in three easy steps. This will help you to secure your password!</p>
          <ol class="list-unstyled">
            <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
            <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
            <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
          </ol>
        </div>
        <form class="card mt-4">
          <div class="card-body">
            <div class="form-group">
              <label for="email-for-pass">Enter your email address</label>
              <input class="form-control" type="text" id="email-for-pass" required="">
              <small class="form-text text-muted">
                Enter the email address you used during the registration on Udacity. Then we'll email a link to this address.
              </small>
              <small id="invalidInput" class="text-bold text-danger" hidden></small>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-success" type="submit" @click="getNewPassword">Get New Password</button>
            <button class="btn btn-danger" type="submit" @click="goBackLogin">Back to Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import AuthService from '../services/Authentication'

export default {
  name: 'ForgotPassword',
  created() {
    this.authService = new AuthService()
  },
  authService: null,
  methods: {
    getNewPassword: async function() {
      const email = document.getElementById('email-for-pass').value

      if(email === "") {
        document.getElementById('invalidInput').hidden = false
        document.getElementById('invalidInput').innerHTML = 'You must type email'
        return
      }

      let temp = await this.sendResetPasswordInformation(email)
      if(temp === null) {
        throw new Error("Can't get code")
      }

      
    },
    goBackLogin: function() {
      this.$router.push({path: '/guest/login'})
    },
    sendResetPasswordInformation: async function(email) {
      let result = await this.authService.resetPassword(email)
      return result
    }
  }
}
</script>
<style scoped>

</style>
