<template>
    <div role="banner" >
        <div class="shadow-large header">
            <router-link to="/" class="navbar-brand">
                <img alt="Vue logo" src="../assets/logo.png" width="60" height="60">
                {{Name}}
            </router-link>
        </div>

    </div>
    <div class="d-flex justify-content-center align-items-center mt-5">
    <div class="border card">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item text-center">
                <a class="nav-link active btl" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" >Login</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link btr" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Signup</a>
            </li>
        </ul>
        <div class="tab-content " id="pills-tabContent">
            <div class="mx-auto" style=" width:450px;">
                <h1>Sign in to your account</h1>
                <p class="text-wrap">Build skills for today, tomorrow, and beyond.
                Education to future-proof your career.</p>
            </div>

            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="form px-4 pt-5">
                    <input id="signin-email" type="text" name="" class="form-control" placeholder="Email">
                    <input id="signin-password" type="password" name="" class="form-control" placeholder="Password">
                    <small id="invalidInput" class="text-bold text-danger" hidden></small>
                    <button class="btn btn-dark btn-block b" @click="login">Login</button>
                    <div @click="forgotPassword" class="text-primary" id="forgot-password">forgot password?</div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="form px-4">
                    <input type="text" id="signup-name" class="form-control" placeholder="Name">
                    <input type="text" id="signup-email" class="form-control" placeholder="Email">
                    <input type="tel" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" id="signup-phone" class="form-control" placeholder="Phone">
                    <input type="password" id="signup-password" class="form-control" placeholder="Password">
                    <input type="password" id="signup-retype-password" class="form-control" placeholder="Re-type Password">
                    <small id="invalidInput" class="text-bold text-danger" hidden></small>
                    <button class="btn btn-dark btn-block">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
// import axios from 'axios';
import AuthService from '../services/Authentication';

export default {
    name:'GuestLogin',
    data: function() {
        return {
            Name : this.$companyName
        }
    },
    created() {
        this.authService = new AuthService()
    },
    mounted() {

    },
    authService: null,
    methods: {
        login : async function() {
            const email = document.getElementById('signin-email').value
            const password = document.getElementById('signin-password').value
            if(email === "" || password === "") {
                document.getElementById('invalidInput').hidden = false
                document.getElementById('invalidInput').innerHTML = 'You must type email and password'
                throw new Error('Empty Input')
            } else {
                document.getElementById('invalidInput').hidden = true
            }

            let temp = await this.sendLoginInformation(email, password)
            if(temp.role === null || temp.role === 'admin' || temp.role === 'speaker') {
                document.getElementById('invalidInput').hidden = false
                document.getElementById('invalidInput').innerHTML = 'Email or password is not valid'
                return
            }

            if(temp.token === null || temp.token === undefined) {
                document.getElementById('invalidInput').hidden = false
                document.getElementById('invalidInput').innerHTML = 'Email or password is not valid'
                return
            }
            document.getElementById('invalidInput').hidden = true

            let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
            vueInstance.$token = temp.token
            vueInstance.$role = temp.role
            this.$router.push({path: '/courses'})
        },
        register: async function() {
          const email = document.getElementById('signup-email').value
          const password = document.getElementById('signup-password').value
          const name = document.getElementById('signup-name').value
          const retypePassword = document.getElementById('signup-retype-password').value
          if(email === "" || password === "" || name === "" || retypePassword === "") {
            document.getElementById('invalidInput').hidden = false
            document.getElementById('invalidInput').innerHTML = 'You must fill all field'
            return
          }

          if(password !== retypePassword) {
            document.getElementById('invalidInput').hidden = false
            document.getElementById('invalidInput').innerHTML = 'Password and Password Retype must match'
            return
          }
          document.getElementById('invalidInput').hidden = true

          let temp = await this.authService.sendRegisterInformation(name, email, password)
          if(temp === null || temp === undefined) {
            throw new Error('There are some error')
          }

          this.$forceUpdate()
        },
        sendLoginInformation: async function(email, password) {
            let result = await this.authService.login(email, password).then(response => response)
            return result
        },
        sendRegisterInformation: async function(name, email, password) {
          let result = await this.authService.register(name, email, password)
          return result
        },
        forgotPassword: function() {
          this.$router.push({path: '/forgot-password'})
        }
    }
}
</script>

<style scoped>
a {
    color: black;
    font-size: 1.5rem;
}

.header {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    box-shadow:  0 5px 15px 0 rgba(46,61,73,.12);
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 620px;
    height: 550px;
    border: none
}

.btr {
    border-top-right-radius: 5px !important
}

.btl {
    border-top-left-radius: 5px !important
}

.btn-dark {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.btn-dark:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.nav-pills {
    display: table !important;
    width: 100%
}

.nav-pills .nav-link {
    border-radius: 0px;

}

.nav-item {
    display: table-cell;
    background: #0d6efd2e
}

.form {
    padding: 10px;
    height: 350px
}

.form input {
    margin-bottom: 12px;
    border-radius: 3px
}

.form input:focus {
    box-shadow: none
}

.form button {
    margin-top: 20px
}

.icon {
    display: inline-block;
    fill: currentColor;
    line-height: 0;
    stroke: currentColor;
}

#forgot-password:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue
}
</style>
