<template>
    <div class="container-fluid">
        <nav id="mainNav" class="shadow navbar container navbar-expand-sm fixed-top navbar-light bg-white">
            <a class="navbar-brand" href="#">
                <img alt="Vue logo" src="../assets/logo.png" width="60" height="60">
                {{Name}}
            </a>

            <div id="navbarResponsive" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown main-menu">
                        <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                    </li>
                    <li class="nav-item dropdown main-menu">
                        <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Programs</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown main-menu">
                        <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Career</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown main-menu">
                        <button class="btn nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="btn nav-link mx-2" type="button" id="sign-in" @click="SignIn">Sign in</button>
            <button class="btn btn-primary" type="button" id="register" @click="Register">Get Started</button>
            
        </nav>
    </div>
    <div class="container pt-5" id="hero-banner">
        <div class="column">
            <div id="hero" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#hero" data-slide-to="0" class="active"></li>
                    <li data-target="#hero" data-slide-to="1"></li>
                    <li data-target="#hero" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../assets/la.jpg" alt="Los Angeles">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/chicago.jpg" alt="Chicago">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/ny.jpg" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#hero" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#hero" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>
    </div>
    <section class="benefits-cards" >
        <h2 class="text-center">Don't waste your valuable time or money</h2>
        <p class="text-center">Only {{Name}} can deliver real results with SMART criteria</p>
        <ul class="mx-auto card-deck col-8">
            <li class="card border-primary" style="border-top: 4px solid blue;">
                <img src="../assets/user.svg" class="mx-auto card-img-top" alt="Social" style="max-width:100px; max-height:100px;"/>
                <div class="card-body">
                    <h5 class="card-title">Social</h5>
                    <p class="card-text">Tính tương tác cao giữa học sinh và giáo viên mang 
                        đến sự hứng thú trong học tập và gắn kết giữa các thành viên trong cộng đồng.</p>
                </div>
            </li>
            <li class="card border-secondary" style="border-top: 4px solid gray;">
                <img src="../assets/solution.svg" class="mx-auto card-img-top" alt="Methodology" style="max-width:100px; max-height:100px;"/>
                <div class="card-body">
                    <h5 class="card-title">Methodology</h5>
                    <p class="card-text">Lấy học sinh làm trung tâm với đa dạng thiết kế cho từng hoạt 
                        động giảng dạy giúp học sinh tiếp thu kiến thức tối đa.</p>
                </div>
            </li>
            <li class="card border-success" style="border-top: 4px solid green;">
                <img src="../assets/accessible.svg" class="mx-auto card-img-top" alt="Access" style="max-width:100px; max-height:100px;"/>
                <div class="card-body">
                    <h5 class="card-title">Access</h5>
                    <p class="card-text">Sự tiện lợi và linh hoạt cho phép học viên tiếp 
                        cận tri thức mọi lúc, mọi nơi.</p>
                </div>
            </li>
            <li class="card border-danger" style="border-top: 4px solid red;">
                <img src="../assets/research.svg" class="mx-auto card-img-top" alt="Results driven" style="max-width:100px; max-height:100px;"/>
                <div class="card-body">
                    <h5 class="card-title">Results driven</h5>
                    <p class="card-text">Quá trình học tập của học viên được theo dõi chặt chẽ thông qua 
                        thống kê tương tác trong giờ học và bài kiểm tra giữa khóa, cuối khóa nhằm đảm bảo
                         kết quả tốt nhất.</p>
                </div>
            </li>
            <li class="card border-warning " style="border-top: 4px solid #ffc107;">
                <img src="../assets/cpu.svg" class="mx-auto card-img-top" alt="Technology " style="max-width:100px; max-height:100px;"/>
                <div class="card-body">
                    <h5 class="card-title">Technology</h5>
                    <p class="card-text">Cho phép một hoặc hai giáo viên dạy được nhiều học sinh trong cùng 
                        lúc với nhiều công cụ giảng dạy hỗ trợ: bảng đen, khung hội thoại giáo viên và học sinh, 
                        công cụ thực hiện bài kiểm tra ngay trên lớp, thuyết trình nhóm, chia sẻ màn hình và 
                        chức năng lưu trữ tài liệu...</p>
                </div>
            </li>
        </ul>
    </section>

    <div style="background-color:#ebebeb;">
        <div class="student-stories mb-5">
            <h2 class="text-center pt-5 pb-5">Strength in numbers</h2>
            <ul class="mx-auto card-deck col-9">
                <li class="card border-white" id="stats">
                    <div class="card-body">
                        <h3>119<small>/120</small></h3>
                        <p>Điểm TOEFL cao nhất của học viên {{Name}}</p>
                    </div>
                </li>
                <li class="card border-white" id="stats">
                    <div class="card-body">
                        <h3>1590<small>/1600</small></h3>
                        <p>Điểm SAT cao nhất của học viên {{Name}}</p>
                    </div>
                </li>
                <li class="card border-white" id="stats">
                    <div class="card-body">
                        <h3>8.5<small>/9.0</small></h3>
                        <p>Điểm IELTS cao nhất của học viên {{Name}}</p>
                    </div>
                </li>
                <li class="card border-white" id="stats">
                    <div class="card-body">
                        <h3>15<small>Triệu USD</small></h3>
                        <p>Tổng giá trị học bổng mà học viên {{Name}} nhận được</p>
                    </div>
                </li>
                <li class="card border-white" id="stats">
                    <div class="card-body">
                        <h3>100</h3>
                        <p>ĐH top Mỹ, Anh, Úc học viên {{Name}} được nhận vào</p>
                    </div>
                </li>
            </ul>
        </div>
        <footer class="page-footer container font-small blue pt-4">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">
                        
                        <!-- Content -->
                        <img alt="Vue logo" src="../assets/logo.png" width="60" height="60">

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <!-- Links -->
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->
        </footer>
    </div>
</template>

<script>
export default {
    name: 'HomePage',
    methods: {
        SignIn() {
            this.$router.push({path: "/guest/login" })
        },
        Register() {
            this.$router.push({path: "/guest/login" })
        }
    },
    data: function() {
        return {
            Name : this.$companyName
        }
    }
}

</script>

<style scoped>
.benefits-cards{
    padding-top:2rem;
}

h2 {
    color:rgb(42, 40, 40);
    font-family: "Times New Roman", Times, serif;
}

h3{
    font-size: 4.2857142857rem;
    font-weight: 700;
}

small{
    font-size: 1rem;
    font-weight: 700;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}

#stats{
    background-color: #ebebeb;
    border-width: 3px;
}
</style>