<template>

<SideBar/>
<div class="header">
    <div style="margin-left:18rem;">
        <h4 class="mt-3">Lessons</h4>
    </div>
</div>
<div class="container">
    <div style="height: 96px;"></div>
    <div class="mx-auto pt-5">
        <ul class="card-deck">
            <LessonCard/>
        </ul>
    </div>
</div>
</template>
<script>
import SideBar from '../components/Side_bar.vue'
import LessonCard from '../components/Lesson_Card.vue'
export default {
    name:'Session',
    components: {
        SideBar,
        LessonCard
    }
}
</script>
<style scoped>
.header {
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0,0,0,.2);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s margin-left ease-in-out,.2s margin-right ease-in-out;
    z-index: 9;
    height:60px;
    text-align: left;
}


</style>