<template>
<div class="parent">
  <div>
    <div class="sidebar">
      <Sidebar v-model:visible="visibleLeft" class="p-sidebar-sm gradient-dark-theme" :dismissable="false" :modal="false" :showCloseIcon="false">
        <div>
            <router-link to="/admin" class="navbar-brand">
                    <img alt="Vue logo" src="../assets/logo.png" width="60" height="60">
                    {{Name}}
            </router-link>
        </div>
        <Menu :model="items" class="menu border-0"/>
        
      </Sidebar>
    </div>
    
    <div id="content-wrapper">
      <div class="layout-topbar">
          <Button icon="pi pi-bars" @click="toggleSidebar" />
      </div>
      <div class="px-2">
        <div>
          <Toolbar class="table-header p-mb-4">
            <template #left>
              <Button label="Delete" icon="pi pi-trash" class="p-button-danger p-mr-2" @click="confirmDeleteSelected" :disabled="!selectedCourses || !selectedCourses.length"/>
            </template>
          </Toolbar>
        </div>
        <div class="table-header d-flex justify-content-between">
            <div class="pt-2">Course</div>
            <Button icon="pi pi-refresh"  @click="refresh"/>
        </div>
        <DataTable :value="courses" v-model:selection="selectedCourses" dataKey="_id"
                  :paginator="true" :rows="10"
                  paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                  :rowsPerPageOptions="[10,20,50]"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                  :filters="filters" 
                  :loading="loading"
                  v-model:expandedRows="expandedRows"
                  @row-expand="onRowExpand">
          <template #empty>
              No Courses found.
          </template>
          <template #loading>
              Loading courses data. Please wait.
          </template>    
          <Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
          <Column :expander="true" headerStyle="width: 3rem"/>
          <Column field= 'name' header= 'Name'>
            <template #filter>
              <InputText type="text" v-model="filters['name']" class="p-column-filter" placeholder="Search by name"/>
            </template>
          </Column>
          <Column field= 'listStudent.length' header='Students'>
            <template #filter>
              <InputNumber v-model="filters['listStudent.length']" class="p-column-filter" placeholder="Search by amount of students"/>
            </template>
          </Column>
          <Column field= 'description' header= 'Description'></Column>
          <Column field= 'note' header= 'Note'></Column>
          <template #expansion="slotProps">
            <div class="orders-subtable">
              <h5>Lessons</h5>
              <DataTable :value="slotProps.data.lessons">
                <template #empty>No lessons found.</template>
                <Column field="name" header="Name"></Column>
                <Column field="description" header="Description"></Column>
                <Column field="note" header="Note"></Column>
                <Column field="link" header="Link"></Column>
                <!-- <Button icon="pi pi-trash" class="p-button-danger p-mr-2 p-mb-2" @click="deleteLessonDialog=true" :disabled="!selectedLesson"/> -->
              </DataTable>
            </div>
          </template>
        </DataTable>>
      </div>
      <div>
        <Dialog v-model:visible="deleteCourseDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
          <div class="confirmation-content">
            <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"/>
            <span v-if="selectedCourses">Are you sure you want to delete <b>{{selectedCourses[0].name}}</b>?</span>
          </div>
          <template #footer>
            <Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteCourseDialog=false"/>
            <Button label="Yes" icon="pi pi-check" class="p-button-text" @click="deleteSelectedCourse"/>
          </template>
        </Dialog>
        <!-- <Dialog v-model:visible="deleteLessonDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
          <div class="confirmation-content">
            <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"/>
            <span v-if="selectedLesson">Are you sure you want to delete <b>{{selectedLesson.name}}</b>?</span>
          </div>
          <template #footer>
            <Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteLessonDialog=false"/>
            <Button label="Yes" icon="pi pi-check" class="p-button-text" @click="deleteSelectedLesson"/>
          </template>
        </Dialog> -->
      </div>
    </div>
  </div>
</div>
</template>
<script>
import Sidebar from 'primevue/sidebar';
import Button from 'primevue/button';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Menu from 'primevue/menu';
import InputText from 'primevue/inputtext';
import InputNumber from 'primevue/inputnumber';
import Toolbar from 'primevue/toolbar';
import Dialog from 'primevue/dialog';
import CoursesAdmin from '../services/coursesServiceAdmin';
import LessonsAdmin from '../services/lessonServiceAdmin';
export default {
    name: 'AdminDashboard',
    data() {
      return {
        visibleLeft: false,
        Name: this.$companyName,
        courses: null,
        selectedCourses:null,
        filters: {},
        loading: true,
        deleteCourseDialog: false,
        deleteLessonDialog: false,
        expandedRows: [],
        items: [
          {
            label: 'Home',
            icon: 'pi pi-home',
            to: '/admin'
          },
          {
            label: 'Quản lý Course',
            icon: 'pi pi-briefcase',
            to: '/admin/manage-course'
          },
          {
            label: 'Quản lý Speaker',
            icon: 'pi pi-comment',
            to: '/admin/manage-speaker'
          },
          {
            label: 'Quản lý User',
            icon: 'pi pi-user',
            to: '/admin/manage-user'
          }
        ]
      }
    },
    coursesService: null,
    lessonService: null,
    components: {
      Sidebar,
      Button,
      DataTable,
      Column,
      Menu,
      InputText,
      InputNumber,
      Toolbar,
      Dialog
    },
    created() {
      // NOTE: THIS MAYBE A UNEFFICIENT WAY TO HANDLE THIS
      let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
      if(vueInstance.$token === null || vueInstance.$role === null || vueInstance.$role !== 'admin') {
        console.error('Something wrong')
        this.$router.push({path: '/login'})
      }
      this.$token = vueInstance.$token
      this.$role = vueInstance.$role
      this.coursesService = new CoursesAdmin()
      this.lessonService = new LessonsAdmin()
    },
    mounted() {
      this.coursesService.getAll().then(response => {
        this.courses = response
      })
      
      this.loading = false
    },
    methods: {
      toggleSidebar: function() {
        if(this.visibleLeft === true) {
          this.visibleLeft = false
          document.getElementById('content-wrapper').className = "not-toggled"
        } else {
          this.visibleLeft = true
          document.getElementById('content-wrapper').className = "toggled"
        }
      },
      refresh: function() {
        this.coursesService.getAll().then(response => {
          this.courses = response
        })
      },
      confirmDeleteSelected: function() {
        this.deleteCourseDialog = true
      },
      deleteSelectedCourse: function() {
        this.coursesService.delete(this.selectedCourses[0]._id)
        this.refresh()
        this.deleteCourseDialog = false
      },
      onRowExpand: function(event) {
        this.lessonService.getLessonsOfCourse(event.data._id).then(response => {
          event.data.lessons = response
        })
      },
      logout: function() {
        let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
        vueInstance.$role = null
        vueInstance.$token = null
        this.$router.push({path: '/login'})
      }
      // deleteSelectedLesson: function() {
      //   this.lessonService.delete(this.selectedLesson._id)
      //   this.expandedRows = null
      // }
    }
}
</script>
<style scoped>
.toggled {
  margin-left: 20rem;
  transition-delay: 0.1s;
}

.not-toggled {
  margin-left: 0rem;
  transition-delay: 0.1s;
}

a{
    color: white;
}

.layout-topbar {
  background-image: linear-gradient(90deg, rgb(3, 136, 229) 0px, rgb(7, 189, 244));
  text-align: left;
  padding-left: 20px;
}

.table-header {
  font-size: 16px;
  font-weight: 600;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-width: 1px 0 1px 0;
}

.menu {
  color: white;
  width: 100%;
  height: 100%;
}
</style>