<template>
<div class="parent">
  <div>
    <div class="sidebar">
      <Sidebar v-model:visible="visibleLeft" class="p-sidebar-sm gradient-dark-theme" :dismissable="false" :modal="false" :showCloseIcon="false">
        <div>
            <router-link to="/admin" class="navbar-brand">
                    <img alt="Vue logo" src="../assets/logo.png" width="60" height="60">
                    {{Name}}
            </router-link>
        </div>
        <Menu :model="items" class="menu border-0"/>
      </Sidebar>
    </div>
    <div id="content-wrapper">
      <div class="layout-topbar">
          <Button icon="pi pi-bars" @click="toggleSidebar" />
      </div>
      <div class="px-2 card">
        <div>
            <Toolbar class="table-header p-mb-4">
                <template #left>
                    <Button label="New" icon="pi pi-plus" class="p-button-success p-mr-2" @click="openNew" />
                    <Button label="Delete" icon="pi pi-trash" class="p-button-danger p-mr-2" @click="confirmDeleteSelected" :disabled="!selectedSpeakers || !selectedSpeakers.length" />
                    <Button label="Update" icon="pi pi-user" class="p-button-info" @click="openUpdate" :disabled="!selectedSpeakers || !selectedSpeakers.length" />
                </template>
            </Toolbar>
        </div>
        <div class="table-header d-flex justify-content-between">
            <div class="pt-2">Speaker</div>
            <Button icon="pi pi-refresh" @click="refresh"/>
        </div>
        <!--[BUG] If choose 1 row, all rows will highlighted-->
        <DataTable :value="speakers" v-model:selection="selectedSpeakers" dataKey="_id"
                  :paginator="true" :rows="10"
                  paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                  :rowsPerPageOptions="[10,20,50]"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                  :filters="filters" 
                  :loading="loading">
          <template #empty>
              No Speakers found.
          </template>
          <template #loading>
              Loading speakers data. Please wait.
          </template>    
          <Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
          <Column field= 'name' header= 'Name'>
            <template #filter>
              <InputText type="text" v-model="filters['name']" class="p-column-filter" placeholder="Search by name"/>
            </template>
          </Column>
          <Column field= 'email' header= 'Email'>
            <template #filter>
              <InputText type="text" v-model="filters['email']" class="p-column-filter" placeholder="Search by email"/>
            </template>
          </Column>
          <Column field= 'gender' header= 'Gender'>
            <template #filter>
              <Dropdown v-model="filters['gender']" :options="genders" placeholder="Select Gender" class="p-column-filter" :showClear="true">
              </Dropdown>
            </template>
          </Column>
          <Column field= 'phone' header= 'Phone'>
            <template #filter>
              <InputText type="text" v-model="filters['phone']" class="p-column-filter" placeholder="Search by phone number"/>
            </template>
          </Column>
          <Column field= 'typeAccount' header= 'Account Type'>
            <template #filter>
              <Dropdown v-model="filters['typeAccount']" :options="accountTypes" placeholder="Select Type Account" class="p-column-filter" :showClear="true">
              </Dropdown>
            </template>
          </Column>
        </DataTable>
      </div>
      <div>
        <Dialog header="Header" v-model:visible="dialogDisplay" :style="{width: '450px'}">
          <template #header>
            <div>
              <h3 class="p-d-block">Speaker Information</h3>
              <small id="emptyField_warn" class="p-invalid" hidden>* You must fill all the fields</small>
            </div>
          </template>

          
          <div class="p-fluid">
              <div class="p-field text-left">
                  <label for="username">Username</label>
                  <InputText id="username" type="text" v-model="username"/>
              </div>
              <div class="p-field text-left">
                  <label for="email">Email</label>
                  <InputText id="email" type="text" v-model="email"/>
              </div>
              <div class="p-field text-left">
                  <label for="phone">Phone</label>
                  <InputText id="phone" type="text" v-model="phone"/>
              </div>
              <div class="p-field text-left">
                  <label for="password">Password</label>
                  <Password id="password" v-model="password" :feedback="false"/>
                  
              </div>
              <div class="p-field text-left">
                  <label for="passwordRetype">Retype password</label>
                  <Password id="passwordRetype" v-model="passwordRetype" :feedback="false"/>
                  <small id="passwordRetypeNotMatch_warn" hidden class="p-invalid">Password and Password retyp must match</small>
              </div>
          </div>

          <template #footer>
            <div>
              <Button label="Cancel" icon="pi pi-times" class="p-button-text" @click="cancelCreatSpeaker"/>
              <Button label="Save" icon="pi pi-check" class="p-button-text" @click="createSpeaker"/>
            </div>
          </template>
        </Dialog>
        <Dialog v-model:visible="deleteSpeakerDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
            <div class="confirmation-content">
                <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem" />
                <span v-if="selectedSpeakers">Are you sure you want to delete <b>{{selectedSpeakers[0].name}}</b>?</span>
            </div>
            <template #footer>
                <Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteSpeakerDialog = false"/>
                <Button label="Yes" icon="pi pi-check" class="p-button-text" @click="deleteSelectedSpeakers" />
            </template>
        </Dialog>
        <Dialog header="Header" v-model:visible="updateDialogDisplay" :style="{width: '450px'}">
          <template #header>
            <div>
              <h3 class="p-d-block">Speaker Information</h3>
              <small id="emptyField_warn" class="p-invalid" hidden>* You must fill all the fields</small>
            </div>
          </template>

          <TabView>
          <TabPanel header="Account Information">
          <div class="p-fluid">
              <div class="p-field text-left">
                  <label for="username">Username</label>
                  <InputText id="username" type="text" v-model="username"/>
              </div>
              <div class="p-field text-left">
                <label for="typeAcc">Type Account</label>
                <div id="typeAcc" class="p-formgroup-inline">
                  <div class="p-field-radiobutton">
                      <RadioButton id="free" name="typeAcc_btn" value="free" v-model="typeAccount" />
                      <label for="free">Free</label>
                  </div>
                  <div class="p-field-radiobutton">
                      <RadioButton id="pro" name="typeAcc_btn" value="pro" v-model="typeAccount" />
                      <label for="pro">Pro</label>
                  </div>
                </div>
              </div>
              <div class="p-field text-left">
                  <label for="password">Password</label>
                  <Password id="password" v-model="password" :feedback="false"/>
              </div>
              <div class="p-field text-left">
                  <label for="passwordRetype">Retype password</label>
                  <Password id="passwordRetype" v-model="passwordRetype" :feedback="false"/>
                  <small id="passwordRetypeNotMatch_warn" hidden class="p-invalid">Password and Password retyp must match</small>
              </div>
          </div>
          </TabPanel>
          <TabPanel header="Basic Information">
            <div class="p-fluid">
              <div class="p-field text-left">
                  <label for="email">Email</label>
                  <InputText id="email" type="text" v-model="email"/>
              </div>
              <div class="p-field text-left">
                  <label for="phone">Phone</label>
                  <InputText id="phone" type="text" v-model="phone"/>
              </div>
              <div class="p-field text-left">
                <label for="gender">Gender</label>
                <div id="gender" class="p-formgroup-inline">
                  <div class="p-field-radiobutton">
                      <RadioButton id="male" name="gender_btn" value="Male" v-model="gender" />
                      <label for="male">Male</label>
                  </div>
                  <div class="p-field-radiobutton">
                      <RadioButton id="female" name="gender_btn" value="Female" v-model="gender" />
                      <label for="female">Female</label>
                  </div>
                </div>
              </div>

            </div>
          </TabPanel>
          </TabView>
          <template #footer>
            <div>
              <Button label="Cancel" icon="pi pi-times" class="p-button-text" @click="cancelUpdateSpeaker"/>
              <Button label="Save" icon="pi pi-check" class="p-button-text" @click="updateSpeaker"/>
            </div>
          </template>
        </Dialog>
      </div>
      
    </div>
  </div>
</div>
</template>
<script>
import Sidebar from 'primevue/sidebar';
import Button from 'primevue/button';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Menu from 'primevue/menu';
import Speakers from '../services/speakerService'
import Toolbar from 'primevue/toolbar';
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import Password from 'primevue/password';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import RadioButton from 'primevue/radiobutton';
import Dropdown from 'primevue/dropdown';
//import Paginator from 'primevue/paginator';


export default {
    name: 'AdminDashboard',
    data() {
      return {
        visibleLeft: false,
        Name: this.$companyName,
        speakers: null,
        dialogDisplay: false,
        deleteSpeakerDialog: false,
        updateDialogDisplay: false,
        username: null,
        email: null,
        phone: null,
        password: null,
        passwordRetype: null,
        selectedSpeakers: null,
        gender: null,
        typeAccount: null,
        filters: {},
        loading: true,
        genders: [
          'Male', 'Female'
        ],
        accountTypes: [
          'free', 'pro'
        ],       
        items: [
          {
            label: 'Home',
            icon: 'pi pi-home',
            to: '/admin'
          },
          {
            label: 'Quản lý Course',
            icon: 'pi pi-briefcase',
            to: '/admin/manage-course'
          },
          {
            label: 'Quản lý Speaker',
            icon: 'pi pi-comment',
            to: '/admin/manage-speaker'
          },
          {
            label: 'Quản lý User',
            icon: 'pi pi-user',
            to: '/admin/manage-user'
          }
        ]
      }
    },
    speakersService: null,
    components: {
      Sidebar,
      Button,
      DataTable,
      Column,
      Menu,
      Toolbar,
      Dialog,
      InputText,
      Password,
      TabView,
      TabPanel,
      RadioButton,
      Dropdown
    },
    created() {
      // NOTE: THIS MAYBE A UNEFFICIENT WAY TO HANDLE THIS
      let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
      if(vueInstance.$token === null || vueInstance.$role === null || vueInstance.$role !== 'admin') {
        console.error('Something wrong')
        this.$router.push({path: '/login'})
      }
      this.$token = vueInstance.$token
      this.$role = vueInstance.$role
      this.speakersService = new Speakers()
    },
    mounted() {
        this.speakersService.getAll().then(response => {
            this.speakers = response
        })
        this.loading = false
    },
    methods: {
      toggleSidebar: function() {
        if(this.visibleLeft === true) {
          this.visibleLeft = false
          document.getElementById('content-wrapper').className = "not-toggled"
        } else {
          this.visibleLeft = true
          document.getEled('contementByInt-wrapper').className = "toggled"
        }
      },
      refresh: function() {
        this.speakersService.getAll().then(response => {
            this.speakers = response
        })
      },
      openNew: function() {
        this.dialogDisplay = true
        this.password = null
        this.passwordRetype = null
        this.email = null
        this.username = null
        this.phone = null
      },
      openUpdate: function() {
        this.updateDialogDisplay = true
        this.username = this.selectedSpeakers[0].name
        this.email = this.selectedSpeakers[0].email
        this.typeAccount = this.selectedSpeakers[0].typeAccount
        this.phone = this.selectedSpeakers[0].phone.toString()
        this.gender = this.selectedSpeakers[0].gender
      },
      cancelUpdateSpeaker: function() {
        this.updateDialogDisplay = false
        this.username = null
        this.password = null
        this.passwordRetype = null
        this.email = null
        this.username = null
        this.phone = null
        this.gender = null
        this.typeAccount = null
      },
      cancelCreatSpeaker: function() {
        this.dialogDisplay = false
      },
      createSpeaker: function() {
        if(this.password === null || this.email === null || this.username === null || this.phone === null) {
          document.getElementById('emptyField_warn').hidden = false
          return
        }
        document.getElementById('emptyField_warn').hidden = true

        if(this.password !== this.passwordRetype) {
          document.getElementById('passwordRetypeNotMatch_warn').hidden = false
          return
        }

        document.getElementById('passwordRetypeNotMatch_warn').hidden = true

        this.speakersService.create(this.username, this.email, this.password, this.phone)
        this.dialogDisplay = false
        this.refresh()
      },
      confirmDeleteSelected: function() {
        this.deleteSpeakerDialog = true
      },
      deleteSelectedSpeakers: function() {
        this.speakersService.delete(this.selectedSpeakers[0].name, 
                                    this.selectedSpeakers[0].email, 
                                    this.selectedSpeakers[0].phone, 
                                    this.selectedSpeakers[0].gender, 
                                    this.selectedSpeakers[0].typeAccount, 
                                    this.selectedSpeakers[0]._id, 
                                    this.selectedSpeakers[0].createAt, 
                                    this.selectedSpeakers[0].password)
        this.deleteSpeakerDialog = false
        this.refresh()
      },
      updateSpeaker: function() {
        if(this.password !== '') {
          if(this.passwordRetype !== this.password) {
            document.getElementById('passwordRetypeNotMatch_warn').hidden = false
            return
          }
          document.getElementById('passwordRetypeNotMatch_warn').hidden = true
          this.speakersService.update(this.username, this.email, this.phone, this.gender, this.typeAccount, this.selectedSpeakers[0]._id, this.selectedSpeakers[0].createAt, this.password)
        } else {
          this.speakersService.update(this.username, this.email, this.phone, this.gender, this.typeAccount, this.selectedSpeakers[0]._id, this.selectedSpeakers[0].createAt, this.selectedSpeakers[0].password)
        }
        this.username = null
        this.password = null
        this.passwordRetype = null
        this.email = null
        this.username = null
        this.phone = null
        this.gender = null
        this.typeAccount = null
        this.updateDialogDisplay = false
        this.refresh()
      },
      logout: function() {
        let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
        vueInstance.$role = null
        vueInstance.$token = null
        this.$router.push({path: '/login'})
      }
      // onPage: function(event) {
      //   console.log(event)
      //    this.speakersService.getAllWithPaginatione(event.rows,event.page).then(response => {
      //       this.speakers = response
      //   })
      // }
    }
}
</script>
<style scoped>
.toggled {
  margin-left: 20rem;
  transition-delay: 0.1s;
}

.not-toggled {
  margin-left: 0rem;
  transition-delay: 0.1s;
}

a{
    color: white;
}

.layout-topbar {
  background-image: linear-gradient(90deg, rgb(3, 136, 229) 0px, rgb(7, 189, 244));
  text-align: left;
  padding-left: 20px;
}

.table-header {
  font-size: 16px;
  font-weight: 600;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-width: 1px 0 1px 0;
}

.menu {
  color: white;
  width: 100%;
  height: 100%;
}
</style>