<template>
<div class="parent">
  <div>
    <div class="sidebar">
      <Sidebar v-model:visible="visibleLeft" class="p-sidebar-sm gradient-dark-theme" :dismissable="false" :modal="false" :showCloseIcon="false">
        <div>
            <router-link to="/admin" class="navbar-brand">
                    <img alt="Vue logo" src="../assets/logo.png" width="60" height="60">
                    {{Name}}
            </router-link>
        </div>
        <Menu :model="items" class="menu border-0"/>
      </Sidebar>
    </div>

    <div id="content-wrapper">
      <div class="layout-topbar">
        <Button icon="pi pi-bars" @click="toggleSidebar" />
      </div>
      <div class="px-2">
        <div>
          <Toolbar class="table-header p-mb-4">
              <template #left>
                  <Button label="New" icon="pi pi-plus" class="p-button-success p-mr-2" @click="openNew" />
                  <Button label="Ban" icon="pi pi-trash" class="p-button-danger p-mr-2" @click="confirmBanSelected" :disabled="!selectedUsers || !selectedUsers.length" />
              </template>
          </Toolbar>
        </div>
        <div class="table-header d-flex justify-content-between">
            <div class="pt-2">User</div>
            <Button icon="pi pi-refresh" @click="refresh"/>
        </div>
        <!--[BUG] If choose 1 row, all rows will highlighted-->
        <DataTable :value="users" v-model:selection="selectedUsers" dataKey="_id"
                  :paginator="true" :rows="10"
                  paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                  :rowsPerPageOptions="[10,20,50]"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                  :filters="filters"
                  :loading="loading">
          <template #empty>
              No Users found.
          </template>
          <template #loading>
              Loading users data. Please wait.
          </template>
          <Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
          <Column field= 'name' header= 'Name'>
            <template #filter>
              <InputText type="text" v-model="filters['name']" class="p-column-filter" placeholder="Search by name"/>
            </template>
          </Column>
          <Column field= 'email' header= 'Email'>
            <template #filter>
              <InputText type="text" v-model="filters['email']" class="p-column-filter" placeholder="Search by email"/>
            </template>
          </Column>
          <Column field= 'gender' header= 'Gender'>
            <template #filter>
              <Dropdown v-model="filters['gender']" :options="genders" placeholder="Select Gender" class="p-column-filter" :showClear="true">
              </Dropdown>
            </template>
          </Column>
          <Column field= 'phone' header= 'Phone'>
            <template #filter>
              <InputText type="text" v-model="filters['phone']" class="p-column-filter" placeholder="Search by phone number"/>
            </template>
          </Column>
          <Column field= 'typeAccount' header= 'Account Type'>
            <template #filter>
              <Dropdown v-model="filters['typeAccount']" :options="accountTypes" placeholder="Select Type Account" class="p-column-filter" :showClear="true">
              </Dropdown>
            </template>
          </Column>
        </DataTable>>
      </div>
      <div>
        <Dialog header="Header" v-model:visible="dialogDisplay" :style="{width: '450px'}">
          <template #header>
            <div>
              <h3 class="p-d-block">Speaker Information</h3>
              <small id="emptyField_warn" class="p-invalid" hidden>* You must fill all the fields</small>
            </div>
          </template>


          <div class="p-fluid">
              <div class="p-field text-left">
                  <label for="username">Username</label>
                  <InputText id="username" type="text" v-model="username"/>
              </div>
              <div class="p-field text-left">
                  <label for="email">Email</label>
                  <InputText id="email" type="text" v-model="email"/>
              </div>
              <div class="p-field text-left">
                  <label for="phone">Phone</label>
                  <InputText id="phone" type="text" v-model="phone"/>
              </div>
              <div class="p-field text-left">
                  <label for="password">Password</label>
                  <Password id="password" v-model="password" :feedback="false"/>

              </div>
              <div class="p-field text-left">
                  <label for="passwordRetype">Retype password</label>
                  <Password id="passwordRetype" v-model="passwordRetype" :feedback="false"/>
                  <small id="passwordRetypeNotMatch_warn" hidden class="p-invalid">Password and Password retyp must match</small>
              </div>
          </div>

          <template #footer>
            <div>
              <Button label="Cancel" icon="pi pi-times" class="p-button-text" @click="cancelCreatUser"/>
              <Button label="Save" icon="pi pi-check" class="p-button-text" @click="createUser"/>
            </div>
          </template>
        </Dialog>
        <Dialog v-model:visible="banUserDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
            <div class="confirmation-content">
                <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem" />
                <span v-if="selectedUsers">Are you sure you want to ban <b>{{selectedUsers[0].name}}</b>?</span>
            </div>
            <template #footer>
                <Button label="No" icon="pi pi-times" class="p-button-text" @click="banUserDialog = false"/>
                <Button label="Yes" icon="pi pi-check" class="p-button-text" @click="banSelectedSpeakers" />
            </template>
        </Dialog>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import Sidebar from 'primevue/sidebar';
import Button from 'primevue/button';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Menu from 'primevue/menu';
import Toolbar from 'primevue/toolbar';
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import Password from 'primevue/password';
import Dropdown from 'primevue/dropdown';
import UsersAdmin from '../services/userServiceAdmin';
export default {
    name: 'ManageUser',
    data() {
      return {
        visibleLeft: false,
        Name: this.$companyName,
        car: null,
        columns: null,
        dialogDisplay: false,
        username: null,
        email: null,
        password: null,
        passwordRetype: null,
        gender: null,
        typeAccount: null,
        users: null,
        selectedUsers: null,
        filters: {},
        loading: true,
        genders: [
          'Male', 'Female'
        ],
        accountTypes: [
          'free', 'pro'
        ],
        banUserDialog: false,
        items: [
          {
            label: 'Home',
            icon: 'pi pi-home',
            to: '/admin'
          },
          {
            label: 'Quản lý Course',
            icon: 'pi pi-briefcase',
            to: '/admin/manage-course'
          },
          {
            label: 'Quản lý Speaker',
            icon: 'pi pi-comment',
            to: '/admin/manage-speaker'
          },
          {
            label: 'Quản lý User',
            icon: 'pi pi-user',
            to: '/admin/manage-user'
          }
        ]
      }
    },
    userService: null,
    components: {
      Sidebar,
      Button,
      DataTable,
      Column,
      Menu,
      Toolbar,
      Dialog,
      InputText,
      Password,
      Dropdown
    },
    created() {
      // NOTE: THIS MAYBE A UNEFFICIENT WAY TO HANDLE THIS
      let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
      if(vueInstance.$token === null || vueInstance.$role === null || vueInstance.$role !== 'admin') {
        console.error('Something wrong')
        this.$router.push({path: '/login'})
      }
      this.$token = vueInstance.$token
      this.$role = vueInstance.$role
      this.userService = new UsersAdmin()
    },
    mounted() {
      this.userService.getAll().then(response => {
            this.users = response
      })
      this.loading = false
    },
    methods: {
      toggleSidebar: function() {
        if(this.visibleLeft === true) {
          this.visibleLeft = false
          document.getElementById('content-wrapper').className = "not-toggled"
        } else {
          this.visibleLeft = true
          document.getElementById('content-wrapper').className = "toggled"
        }
      },
      openNew: function() {
        this.dialogDisplay = true;
        this.password = null
        this.passwordRetype = null
        this.email = null
        this.username = null
        this.phone = null
      },
      cancelCreatUser: function() {
        this.dialogDisplay = false
      },
      createUser: function() {
        if(this.password === null || this.email === null || this.username === null || this.phone === null) {
          document.getElementById('emptyField_warn').hidden = false
          return
        }
        document.getElementById('emptyField_warn').hidden = true

        if(this.password !== this.passwordRetype) {
          document.getElementById('passwordRetypeNotMatch_warn').hidden = false
          return
        }

        document.getElementById('passwordRetypeNotMatch_warn').hidden = true

        this.userService.create(this.username, this.email, this.password, this.phone)
        this.dialogDisplay = false
        this.refresh()
      },
      refresh: function() {
        this.userService.getAll().then(response => {
            this.users = response
        })
      },
      confirmBanSelected: function() {
        this.banUserDialog= true
      },
      banSelectedSpeakers: function() {
        this.userService.ban(this.selectedUsers[0].name,
                                    this.selectedUsers[0].email,
                                    this.selectedUsers[0].phone,
                                    this.selectedUsers[0].gender,
                                    this.selectedUsers[0].typeAccount,
                                    this.selectedUsers[0]._id,
                                    this.selectedUsers[0].createAt,
                                    this.selectedUsers[0].password)
        this.banUserDialog = false
        this.refresh()
      },
      logout: function() {
        let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
        vueInstance.$role = null
        vueInstance.$token = null
        this.$router.push({path: '/login'})
      }
    }
}
</script>
<style scoped>
.toggled {
  margin-left: 20rem;
  transition-delay: 0.1s;
}

.not-toggled {
  margin-left: 0rem;
  transition-delay: 0.1s;
}

a{
    color: white;
}

.layout-topbar {
  background-image: linear-gradient(90deg, rgb(3, 136, 229) 0px, rgb(7, 189, 244));
  text-align: left;
  padding-left: 20px;
}

.table-header {
  font-size: 16px;
  font-weight: 600;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-width: 1px 0 1px 0;
}

.menu {
  color: white;
  width: 100%;
  height: 100%;
}
</style>
