<template>
<div class="contain-area" >
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" @click="ShowSidebar" style="z-index: 100;">
        <i class="fas fa-bars"></i>
    </a>
    <!-- <nav id="sidebar" class="position-fixed left-side-bar" v-bind:class="[toggle]">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">
                    <span class="sidebar-title">Lesson 1:</span>
                    <br/>
                    <span class="sidebar-title">Lesson 1</span>
                </a>
                <div id="close-sidebar" @click="CloseSidebar" >
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="content-list">
            <ol class="text-left">
                <li class="content-item">
                    <a href="#" class="content-link">Welcome</a>
                </li>
                <li class="content-item">
                    <a href="#" class="content-link">About the Class</a>
                </li>
            </ol>
        </div>
    </nav> -->
    <div class="page-content h-100" style="padding-bottom: 90px;">
        <div class="header">
            <div class="video-title content-item">
                {{sessionName}}
            </div>
        </div>
        <div class="container h-100" >
            <div style="height: 80px"></div>
            <div class="h-100">
                <iframe id="widget2" width="1280" height="720" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: 'Sessions',
    props: {
        SessionName: {
            type: String
        },
        LinkVideo: {
            type: String
        }
    },
    created() {

    },
    mounted() {
        //let final_url = this.linkVideo + '&output=embed'

        document.getElementById('widget2').src= this.linkVideo
        //console.log(this.LinkVideo, this.SessionName)
        //this.$ref.youtube.src = this.linkVideo
        //this.linkVideo = this.LinkVideo
    },
    data() {
        return {
            toggle: '',
            sessionName: this.SessionName,
            linkVideo: this.LinkVideo
        }
    },
    methods: {
        ShowSidebar: function() {
            //this.toggle='showed'
            this.$router.push({path: '/courses'})
        },
        CloseSidebar: function() {
            this.toggle='hided'
        }
    }
}
</script>
<style scoped>

.contain-area {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: rgb(28, 38, 47);
}

#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}

.left-side-bar {
    width: 280px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background:rgb(70, 79, 87);
    color: rgb(219, 226, 232);
}

.left-side-bar.showed  {
    animation-duration: 1s;
    animation-name: slideout;
    animation-fill-mode: forwards;
}

@keyframes slideout {
    from {
        left: -280px;
    }
    to {
        left: 0px;
    }
}

.left-side-bar.hided  {
    animation-duration: 1s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        left: 0px;
    }
    to {
        left: -280px;
    }
}
.left-side-bar .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.left-side-bar .sidebar-brand > a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}

.left-side-bar .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}

.sidebar-title {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.divider {
    border-top: 2px solid rgb(81, 91, 98);
}

.content-list {
    flex: auto;
    overflow-y:auto;
}

.content-item {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.content-link {
    color: rgb(255, 255, 255);
    text-decoration: rgb(255, 255, 255);
}

.header {
    background: #1c262f;
    border-bottom: 1px solid #1c262f;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.5);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s margin-left ease-in-out,.2s margin-right ease-in-out;
    z-index: 9;
    height:60px;
}

.header .video-title {
    text-align: center;
    color: white;
    margin-top: 1rem;

}

iframe {
    width: 100%;
    height: 100%
}
</style>
