<template>
<div>
  <div class="col-md-6 offset-md-3">
    <span class="anchor" id="formChangePassword"></span>
    <hr class="mb-5">

    <!-- form card change password -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
          <form class="form" role="form" autocomplete="off">
            <div class="form-group">
                <label for="inputPasswordNew">New Password</label>
                <input type="password" class="form-control" id="inputPasswordNew" required="">
                <span class="form-text small text-muted">
                        The password must be 8-20 characters, and must <em>not</em> contain spaces.
                </span>
            </div>
            <div class="form-group">
                <label for="inputPasswordNewVerify">Verify</label>
                <input type="password" class="form-control" id="inputPasswordNewVerify" required="">
                <span class="form-text small text-muted">
                        To confirm, type the new password again.
                </span>
            </div>
            <div>
              <small id="invalidInput" class="text-bold text-danger" hidden></small>
            </div>
            <div class="form-group mx-auto">
                <button type="submit" class="btn btn-success btn-lg" @click="changePassword">Save</button>
            </div>
          </form>
        </div>
    </div>
    <!-- /form card change password -->

  </div>
</div>
</template>
<script>
import AuthService from '../services/Authentication'

export default {
  name: 'SetNewPassword',
  authService: null,
  created() {
    if(document.querySelector('#app').__vue_app__.config.globalProperties.$codeForResetPassword === null) {
      this.$router.push({path: '/'})
      throw new Error('There is no code in this')
    }
    this.authService = new AuthService()
  },
  methods: {
    changePassword: function() {
      const password = document.getElementById('inputPasswordNew').value
      const retypePassword = document.getElementById('inputPasswordNewVerify').valuable

      if(password !== retypePassword) {
        document.getElementById('invalidInput').hidden = false
        document.getElementById('invalidInput').innerHTML = 'New password and password retype must match'
        return
      }
      document.getElementById('invalidInput').hidden = true

      let code = document.querySelector('#app').__vue_app__.config.globalProperties.$codeForResetPassword
      this.authService.newPassword(code, password)
    }
  }
}
</script>
<style scoped>

</style>
