<template>
<div>
  <div class="layout-topbar row justify-content-between">
    <div class="col-4 text-left ml-3 my-1">
      <Button icon="pi pi-home"/>
    </div>
    <div class="col-4 text-right mr-3 my-1">
      <Button icon="pi pi-external-link" @click="logout"/>
    </div>
  </div>
  <div class="mx-2">
    <Toolbar class="table-header p-mb-4">
      <template #left>
        <Button label="New" icon="pi pi-plus" class="p-button-success p-mr-2" @click="createCourseDialog"/>
        <Button label="Delete" icon="pi pi-trash" class="p-button-danger p-mr-2" @click="deleteCourseDialog = true" :disabled="!selectedCourses || !selectedCourses.length"/>
      </template>
    </Toolbar>
    <div class="table-header d-flex justify-content-between">
      <div class="pt-2">Course</div>
      <Button icon="pi pi-refresh"  @click="refresh"/>
    </div>
    <div>
      <DataTable :value="courses" v-model:selection="selectedCourses" dataKey="_id"
                  :paginator="true" :rows="10"
                  paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                  :rowsPerPageOptions="[10,20,50]"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                  :filters="filters" 
                  :loading="loading"
                  @row-click="onRowClick"
                  editMode="cell"
                  @cell-edit-complete="onCellEditComplete">
        <template #empty>
            No Courses found.
        </template>
        <template #loading>
            Loading courses data. Please wait.
        </template>    
        <Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
        <Column field= 'name' header= 'Name'>
          <template #filter>
            <InputText type="text" v-model="filters['name']" class="p-column-filter" placeholder="Search by name"/>
          </template>
          <template #editor="slotProps">
            <InputText v-model="slotProps.data[slotProps.column.props.field]" />
          </template>
        </Column>
        <Column field= 'listStudent.length' header='Students'>
          <template #filter>
            <InputNumber v-model="filters['listStudent.length']" class="p-column-filter" placeholder="Search by amount of students"/>
          </template>
        </Column>
        <Column field= 'description' header= 'Description'>
          <template #editor="slotProps">
            <InputText v-model="slotProps.data[slotProps.column.props.field]"/>
          </template>
        </Column>
        <Column field= 'note' header= 'Note'>
          <template #editor="slotProps">
            <InputText v-model="slotProps.data[slotProps.column.props.field]"/>
          </template>
        </Column>
      </DataTable>
    </div>
    <div>
      <Dialog header="CreateCourse" v-model:visible="createCourseDisplay" :style="{width: '450px'}" :modal="true">
        <template #header>
          <h3 class="p-d-block">Create Course</h3>
        </template>

        <div class="p-fluid">
          <div class="p-field text-left">
            <label for="name">Course Name</label>
            <InputText id="name" type="text" v-model="name"/>
            <small id="emptyField_warn" class="p-invalid" hidden>* You must fill course name</small>
          </div>
          <div class="p-field text-left">
            <label for="description">Description</label>
            <Textarea id="description" v-model="description" :autoResize="true" rows="5" cols="30" />
          </div>
          <div class="p-field text-left">
            <label for="note">Note</label>
            <Textarea id="note" v-model="note" :autoResize="true" rows="5" cols="30" />
          </div>
        </div>

        <template #footer>
          <Button label="No" icon="pi pi-times" class="p-button-text" @click="createCourseDisplay= false"/>
          <Button label="Yes" icon="pi pi-check" autofocus @click="createCourse" />
        </template>
      </Dialog>
      <Dialog header="DeleteCourseConfirm" v-model:visible="deleteCourseDialog" :style="{width: '450px'}" :modal="true">
        <div>
          <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem" />
          <span v-if="selectedCourses">Are you sure you want to delete <b>{{selectedCourses[0].name}}</b>?</span>
        </div>
        <template #footer>
          <Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteCourseDialog=false"/>
          <Button label="Yes" icon="pi pi-check" autofocus @click="deleteCourse" />
        </template>
      </Dialog>
    </div>
  </div>
</div>
</template>
<script>
import Button from 'primevue/button'
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import InputText from 'primevue/inputtext';
import InputNumber from 'primevue/inputnumber';
import Toolbar from 'primevue/toolbar';
import Dialog from 'primevue/dialog';
import Textarea from 'primevue/textarea';
import CoursesSpeaker from '../services/coursesServiceSpeaker';
export default {
  name: 'SpeakerDashboard',
  components: {
    Button,
    DataTable,
    Column,
    InputText,
    InputNumber,
    Toolbar,
    Dialog,
    Textarea
  },
  data() {
    return {
      courses: null,
      selectedCourses: null,
      filters: {},
      loading: false,
      createCourseDisplay: false,
      name: null,
      description: null,
      note: null,
      deleteCourseDialog: false
    }
  },
  courseService: null,
  clickTimer: null,
  clickCount: null,
  created() {
      // NOTE: THIS MAYBE A UNEFFICIENT WAY TO HANDLE THIS
      let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
      if(vueInstance.$token === null || vueInstance.$role === null || vueInstance.$role !== 'speaker') {
        console.error('Something wrong')
        this.$router.push({path: '/login'})
      }
      this.$token = vueInstance.$token
      this.$role = vueInstance.$role
    this.courseService = new CoursesSpeaker()
    this.clickCount = 0
  },
  mounted() {
    this.courseService.getAll().then(response => {
      this.courses = response
    })
  },
  methods: {
    refresh: function() {
      this.courseService.getAll().then(response => {
        this.courses = response
      })
    },
    onRowClick: function(event) {
      event.originalEvent.preventDefault()
      this.clickCount++
      if(this.clickCount === 1) {
        this.clickTimer = setTimeout(() => {
          this.clickCount = 0
          console.log('reset')
        }, 500)
      } else if(this.clickCount === 2) {
        clearTimeout(this.clickTimer)
        this.$router.push({name: 'SpeakerManageLesson', params: {idCourse: event.data._id}})
      }
    },
    onCellEditComplete: function(event) {
      this.courseService.update(event.data._id, 
                              event.data.name, 
                              event.data.description, 
                              event.data.note)
    },
    createCourseDialog: function() {
      this.createCourseDisplay = true
      this.name = null
      this.description = null
      this.note = null
    },
    createCourse: function() {
      if(this.name === null) {
        document.getElementById('emptyField_warn').hidden = false
        return
      }
      document.getElementById('emptyField_warn').hidden = true

      if(this.description === null) this.description = "Khong co gi"
      if(this.note === null) this.note = "Khong co"

      this.courseService.create(this.name, this.description, this.note)
      this.createCourseDisplay = false
      this.refresh()
    },
    deleteCourse: function() {
      this.courseService.delete(this.selectedCourses[0]._id)
      this.deleteCourseDialog = false
      this.refresh()
    },
    logout: function() {
      let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
      vueInstance.$role = null
      vueInstance.$token = null
      this.$router.push({path: '/login'})
    }
  }    
}
</script>
<style scoped>
.layout-topbar {
  background-image: linear-gradient(90deg,  rgb(3, 136, 229) 0px, rgb(7, 189, 244));
}

.table-header {
  font-size: 16px;
  font-weight: 600;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
}
</style>