<template>
<div>
  <div class="layout-topbar row justify-content-between">
    <div class="col-4 text-left ml-3 my-1">
      <Button icon="pi pi-home" @click="returnHome"/>
    </div>
    <div class="col-4 text-right mr-3 my-1">
      <Button icon="pi pi-external-link" @click="logout"/>
    </div>
  </div>
  <div class="mx-2 mt-2">
    <Toolbar class="table-header p-mb-4">
        <template #left>
            <Button label="New" icon="pi pi-plus" class="p-button-success p-mr-2" @click="createLessonDialog"/>
            <Button label="Delete" icon="pi pi-trash" class="p-button-danger p-mr-2" @click="deleteLessonDialog = true" :disabled="!selectedLessons || !selectedLessons.length"/>
        </template>
    </Toolbar>
    <div class="table-header d-flex justify-content-between">
      <div class="pt-2">Lesson</div>
      <Button icon="pi pi-refresh"  @click="refresh"/>
    </div>
    <div>
        <DataTable :value="lessons" v-model:selection="selectedLessons" dataKey="_id"
                  :paginator="true" :rows="10"
                  paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                  :rowsPerPageOptions="[10,20,50]"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                  :filters="filters"
                  :loading="loading"
                  editMode="cell"
                  @cell-edit-complete="onCellEditComplete">
            <template #empty>
                No Lessons found.
            </template>
            <template #loading>
                Loading lessons data. Please wait.
            </template>
            <Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
            <Column field= 'name' header= 'Name'>
                <template #filter>
                    <InputText type="text" v-model="filters['name']" class="p-column-filter" placeholder="Search by name"/>
                </template>
                <template #editor="slotProps">
              <InputText v-model="slotProps.data[slotProps.column.props.field]" />
            </template>
            </Column>
            <Column field= 'description' header= 'Description'>
                <template #editor="slotProps">
                    <InputText v-model="slotProps.data[slotProps.column.props.field]" />
                </template>
            </Column>
            <Column field= 'note' header= 'Note'>
                <template #editor="slotProps">
                    <InputText v-model="slotProps.data[slotProps.column.props.field]" />
                </template>
            </Column>
            <Column field= 'link' header='Link'>
                <template #editor="slotProps">
                    <InputText v-model="slotProps.data[slotProps.column.props.field]" />
                </template>
            </Column>
        </DataTable>>
    </div>
    <div>
        <Dialog header="CreateLesson" v-model:visible="createLessonDisplay" :style="{width: '450px'}" :modal="true">
            <template #header>
            <h3 class="p-d-block">Create Lesson</h3>
            </template>

            <div class="p-fluid">
                <div class="p-field text-left">
                    <label for="name">Lesson Name</label>
                    <InputText id="name" type="text" v-model="name"/>
                    <small id="emptyName_warn" class="p-invalid" hidden>* You must fill lesson name</small>
                </div>
                <div class="p-field text-left">
                    <label for="description">Description</label>
                    <Textarea id="description" v-model="description" :autoResize="true" rows="5" cols="30" />
                </div>
                <div class="p-field text-left">
                    <label for="note">Note</label>
                    <Textarea id="note" v-model="note" :autoResize="true" rows="5" cols="30" />
                </div>
                <div class="p-field text-left">
                    <label for="link">Link</label>
                    <InputText id="link" type="text" v-model="link"/>
                    <small id="emptyLink_warn" class="p-invalid" hidden>* You must fill link for this lesson</small>
                </div>
            </div>

            <template #footer>
            <Button label="No" icon="pi pi-times" class="p-button-text" @click="createLessonDisplay= false"/>
            <Button label="Yes" icon="pi pi-check" autofocus @click="createLesson" />
            </template>
        </Dialog>
        <Dialog header="DeleteLessonConfirm" v-model:visible="deleteLessonDialog" :style="{width: '450px'}" :modal="true">
            <div>
            <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem" />
            <span v-if="selectedLessons">Are you sure you want to delete <b>{{selectedLessons[0].name}}</b>?</span>
            </div>
            <template #footer>
            <Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteLessonDialog=false"/>
            <Button label="Yes" icon="pi pi-check" autofocus @click="deleteLesson" />
            </template>
        </Dialog>
    </div>
  </div>
</div>
</template>
<script>
import Button from 'primevue/button'
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import InputText from 'primevue/inputtext';
import Dialog from 'primevue/dialog';
import Textarea from 'primevue/textarea';
import Toolbar from 'primevue/toolbar';
import LessonsSpeaker from '../services/lessonServiceSpeaker';
export default {
  name: 'SpeakerDashboard',
  components: {
    Button,
    DataTable,
    Column,
    InputText,
    Dialog,
    Textarea,
    Toolbar
  },
  data() {
    return {
        lessons: null,
        selectedLessons: null,
        filters: {},
        loading: false,
        idCourse: null,
        createLessonDisplay: false,
        name: null ,
        description: null,
        note: null,
        link: null,
        deleteLessonDialog: false
    }
  },
  lessonService: null,
  created() {
      // NOTE: THIS MAYBE A UNEFFICIENT WAY TO HANDLE THIS
      let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
      if(vueInstance.$token === null || vueInstance.$role === null || vueInstance.$role !== 'speaker') {
        console.error('Something wrong')
        this.$router.push({path: '/login'})
      }
      this.$token = vueInstance.$token
      this.$role = vueInstance.$role
    this.idCourse = this.$route.params.idCourse
    this.lessonService = new LessonsSpeaker(this.idCourse)
  },
  mounted() {
    this.lessonService.getAll().then(response => {
      this.lessons = response
    })
  },
  methods: {
    refresh: function() {
      this.lessonService.getAll().then(response => {
        this.lessons = response
      })
    },
    returnHome: function() {
        this.$router.push({path: '/speaker'})
    },
    onCellEditComplete: function(event) {
        this.lessonService.update(event.data._id,
                              event.data.name,
                              event.data.description,
                              event.data.note,
                              event.data.link)
    },
    deleteLesson: function() {
        this.lessonService.delete(this.selectedLessons[0]._id)
        this.deleteLessonDialog = false
        this.refresh()
    },
    createLesson: function() {
        if(this.name === null) {
            document.getElementById('emptyName_warn').hidden = false
            return
        } else document.getElementById('emptyName_warn').hidden = true

        if(this.link === null) {
            document.getElementById('emptyLink_warn').hidden = false
            return
        } else document.getElementById('emptyLink_warn').hidden = true

        if(this.description === null) this.description = "Khong co gi"
        if(this.note === null) this.note = "Khong co"

        this.lessonService.create(this.name, this.description, this.note, this.link)
        this.refresh()
        this.createLessonDisplay = false
    },
    createLessonDialog: function() {
        this.createLessonDisplay = true
        this.name = null
        this.description = null
        this.note = null
        this.link = null
    },
    logout: function() {
      let vueInstance = document.querySelector('#app').__vue_app__.config.globalProperties
      vueInstance.$role = null
      vueInstance.$token = null
      this.$router.push({path: '/login'})
    }
  }
}
</script>
<style scoped>
.layout-topbar {
  background-image: linear-gradient(90deg,  rgb(3, 136, 229) 0px, rgb(7, 189, 244));
}

.table-header {
  font-size: 16px;
  font-weight: 600;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
}
</style>
