<template>
<div class="container">
    <div class="mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Your Profile</h4>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">First Name*</label> 
                            <div class="col-8">
                                <input id="name" name="name" placeholder="First Name" class="form-control here" type="text" required>
                            </div>
                            </div>
                            <div class="form-group row">
                            <label for="lastname" class="col-4 col-form-label">Last Name*</label> 
                            <div class="col-8">
                                <input id="lastname" name="lastname" placeholder="Last Name" class="form-control here" type="text" required>
                            </div>
                            </div>
                            <div class="form-group row">
                            <label for="gender" class="col-4 col-form-label">Gender</label> 
                            <div class="col-8">
                                <select id="gender" name="gender" class="custom-select">
                                <option value="male">Male</option>
                                <option value="male">Female</option>
                                </select>
                            </div>
                            </div>
                            <div class="form-group row">
                            <label for="email" class="col-4 col-form-label">Email*</label> 
                            <div class="col-8">
                                <input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
                            </div>
                            </div>
                            <div class="form-group row">
                            <label for="phone" class="col-4 col-form-label">Phone</label> 
                            <div class="col-8">
                                <input id="phone" name="phone" placeholder="Phone Number" class="form-control here" required="required" type="tel" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}">
                            </div>
                            </div>
                            <div class="form-group row">
                            <label for="newpass" class="col-4 col-form-label">New Password</label> 
                            <div class="col-8">
                                <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
                            </div>
                            </div> 
                            <div class="form-group row">
                            <div class="mx-auto">
                                <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    name: 'UserSetting'
}
</script>
<style scoped>

</style>